<!DOCTYPE html>
<html>
  <head>
    
    <!-- Mobile First -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> <%= arg['title'] %> </title>
		
	</head>
	<body>
		<div style="text-align:center"> Where the fuck am I ? </div>
	</body>
</html>