<% include includes/head.ejs %>

  <body id="particles">	

    <% include includes/navbar.ejs %>

    <div id="intro">
      <% include includes/header.ejs %>
      <div class="container">
        
        <div class="row hideous" style="display: none;">
          <div class="col-md-12">
             <div class="progress" style="margin-top:10px">
                <div id="level-bar" class="progress-bar progress-bar-striped active" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                </div>
              </div>
            <div id="question">
              <h1 id="socket_question"></h1>
            </div>
          </div>
        </div>
        <div class="row hideous" style="display: none;">
          <div class="container">
            <div class="col-md-6">
              <div class="answer" id="answerbox_1">
                <label id="checkbox_1" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="answer-1">
                  <input type="radio" id="answer-1" class="mdl-radio__button" name="options" value="1">
                  <span id="answer_1" class="answer-text mdl-radio__label">1: </span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="answer" id="answerbox_2">
                <label id="checkbox_2" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="answer-2">
                  <input type="radio" id="answer-2" class="mdl-radio__button" name="options" value="2">
                  <span id="answer_2" class="answer-text mdl-radio__label">2: </span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row hideous" style="display: none;">
          <div class="container">
            <div class="col-md-6">
              <div class="answer" id="answerbox_3">
                <label id="checkbox_3" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="answer-3">
                  <input type="radio" id="answer-3" class="mdl-radio__button" name="options" value="3">
                  <span id="answer_3" class="answer-text mdl-radio__label">3: </span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="answer" id="answerbox_4">
                <label id="checkbox_4" class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="answer-4">
                  <input type="radio" id="answer-4" class="mdl-radio__button" name="options" value="4">
                  <span id="answer_4" class="answer-text mdl-radio__label">4: </span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <button id="play" style="color: white; height: 100%; margin-top: 10%" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" type="submit">
            <h1 id="play_button">Play</h1>
          </button>
          <button id="submit" style="color: white; display: none;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" type="submit">
            Last words
          </button>
        </div>
				<button id="moit" style="color: white; display: none; margin-top: 20px" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
            50/50
        </button>
      </div>
    </div>
      <% include includes/footer.ejs %>
    </div>
  </body>
      
  <% include includes/script.ejs %>
  
  <script>
  $('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });
		
		var soundObject = new Audio();
		var soundObject_moit = new Audio();
		soundObject.src = "musics/The_Rolling_Stones.mp3";
		soundObject.play();
		soundObject.volume = 0.2
 
    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    var socket = io();
    var level = 1;
    var id_game;
    var id_question;
    var question;
    var a_1;
    var a_2;
    var a_3;
    var a_4;

    $("#play").on('click', function() {
      socket.emit('play_first', {
        category: getUrlParameter('id'),
      });
      $("#play").hide();
      $("#submit").show();
      $(".hideous").show();
			$("#moit").show();
    });
		
		$("#moit").on('click', function() {
      socket.emit('get_50', {
        id_question: id_question,
      });
			
			soundObject.pause();
			soundObject_moit = new Audio();
			soundObject_moit.src = "musics/joker.mp3";
			soundObject_moit.play();
			soundObject_moit.volume = 0.5
			document.getElementById("moit").setAttribute("disabled", "disabled");
    });

		socket.on('back_50', function(data) {
			if(data.q_1 == 1 || data.q_2 == 1)
				 $("#answerbox_1").hide();
			
			if(data.q_1 == 2 || data.q_2 == 2)
				 $("#answerbox_2").hide();
			
			if(data.q_1 == 3 || data.q_2 == 3)
				 $("#answerbox_3").hide();
			
			if(data.q_1 == 4 || data.q_2 == 4)
				 $("#answerbox_4").hide();
		});
		
    socket.on('question', function(data) {
      //Récupération de l'id correspondant
      id_game = data.myGame;
      id_question = data.id_question;
      question = data.question;
      a_1 = data.a_1;
      a_2 = data.a_2;
      a_3 = data.a_3;
      a_4 = data.a_4;
      level++;
      $("#answerbox_1").show();
      $("#answerbox_2").show();
      $("#answerbox_3").show();
      $("#answerbox_4").show();
      
      $("#level-bar").attr('style', 'width:'+(level-1)*10+'%');

      $("#socket_question").text(question);
      $("#answer_1").text(a_1);
      $("#answer_2").text(a_2);
      $("#answer_3").text(a_3);
      $("#answer_4").text(a_4);

    });

    $("#submit").on('click', function() {
      var answer;
      if ($('#checkbox_1').hasClass( "is-checked" )) {
        answer = 1;
      }
      if ($('#checkbox_2').hasClass( "is-checked" )) {
        answer = 2;
      }
      if ($('#checkbox_3').hasClass( "is-checked" )) {
        answer = 3;
      }
      if ($('#checkbox_4').hasClass( "is-checked" )) {
        answer = 4;
      }
      socket.emit('get_answer', {
        id_question: id_question,
        answer: answer
      });
    });	

    socket.on('back_answer', function(data) {
      var correction = data;
      if (data.verdict == false) {
        
				if ($('#checkbox_1').hasClass( "is-checked" )) {
					document.getElementById("answer_1").style.color = "#ff0000";
				}
				if ($('#checkbox_2').hasClass( "is-checked" )) {
					document.getElementById("answer_2").style.color = "#ff0000";
				}
				if ($('#checkbox_3').hasClass( "is-checked" )) {
					document.getElementById("answer_3").style.color = "#ff0000";
				}
				if ($('#checkbox_4').hasClass( "is-checked" )) {
					document.getElementById("answer_4").style.color = "#ff0000";
				}
				
        socket.emit('game_over', {
          level: level
        });
      }
      if (data.verdict == true) {
        console.log(level);
			
				soundObject.play();
				soundObject_moit.pause();
				var soundObject_right = new Audio();
				soundObject_right.src = "musics/right.mp3";
				soundObject_right.play();
				soundObject_right.volume = 0.1

        socket.emit('next_one', {
          level: level,
          category: getUrlParameter('id')
        });
      }
    });

    socket.on('end', function(data) {
      var random = data.random;
      var points = data.points;
      result = random + points;
			
			soundObject.pause();
			var soundObject_wrong = new Audio();
			soundObject_wrong.src = "musics/wrong.mp3";
			soundObject_wrong.play();
			soundObject_wrong.volume = 0.2
			
			setTimeout(function(){
				alert('You lose ! Result : ' + result);
      	window.location.replace("/");
			}, 1500);
     
    });
		
		socket.on('end_win', function(data) {
      var random = data.random;
      var points = data.points;
      result = random + points;
      alert('You win this category ! Result : ' + result);
      window.location.replace("/");
    });

  </script>
</html>