<% include includes/head.ejs %>

  <body id="particles">	

    <% include includes/navbar.ejs %>

    <div id="intro">
      <% include includes/header.ejs %>
      <div class="container">
        
        <div class="row">
          <div class="col-md-12">
            <div id="question">
              <h1>Which is the color of the white horse of the fucKing Henry IV ?</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="col-md-6">
              <div class="answer">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="answer-1">
                  <input type="radio" id="answer-1" class="mdl-radio__button" name="options" value="1">
                  <span class="answer-text mdl-radio__label">A Pancake</span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="answer">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="answer-2">
                  <input type="radio" id="answer-2" class="mdl-radio__button" name="options" value="2">
                  <span class="answer-text mdl-radio__label">A big pancake</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="col-md-6">
              <div class="answer">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="answer-3">
                  <input type="radio" id="answer-3" class="mdl-radio__button" name="options" value="3">
                  <span class="answer-text mdl-radio__label">I don't know</span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="answer">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="answer-4">
                  <input type="radio" id="answer-4" class="mdl-radio__button" name="options" value="4">
                  <span class="answer-text mdl-radio__label">Answer D</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
            Yes it's my last words
          </button>
        </div>
      </div>
    </div>
      <% include includes/footer.ejs %>
    </div>
  </body>
      
  <% include includes/script.ejs %>
  
  <script>
  $('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });
		
		var soundObject = new Audio();
		soundObject.src = "musics/The_Rolling_Stones.mp3";
		soundObject.play();
		soundObject.volume = 0.2
  </script>
  
</html>