<!DOCTYPE html>
<html>
  <head>
    
    <!-- Mobile First -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> <%= arg['title'] %></title>
    
    <!-- CSS | Material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    <!-- CSS | Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
  </head>
  <body id="particles">	
    <% include includes/logout.ejs %>
    <div id="intro">
      <% include includes/header.ejs %>
      <div class="container">
        
        <div class="row">
          <div class="col-md-12">
            <div id="question">
              <h1>Which is the color of the white horse of the fucKing Henry IV ?</h1>
            </div>
          </div>
        </div>
        <div id="footer">
          <h6 class="text-center">Developped with <span style="color:#e0392b">♥</span> by Kilian & Guillaume</h6>
        </div>
      </div>
    </div>
  </body>
      
  <% include includes/script.ejs %>
  
  <script>
  $('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });
		
		var soundObject = new Audio();
		soundObject.src = "musics/The_Rolling_Stones.mp3";
		soundObject.play();
		soundObject.volume = 0.2
  </script>
  
</html>