<% include includes/head.ejs %>

  <body id="particles">
    <% include includes/navbar.ejs %>
    <div id="intro">
      <% include includes/header.ejs %>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <table style="width: 100%;" class="mdl-data-table mdl-js-data-table">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th class="mdl-data-table__cell--non-numeric">Nickname</th>
                  <th>Points</th>
                </tr>
              </thead>
              <tbody>
    					<% for (var i = 0; i < arg['rank'].length; i++){%>
    						<tr>
    							<td>
    								<%= i+1 %>
    							</td>
    							<td style="text-align:left">
    									<%= arg['rank'][i].name_user %>
    							</td>
    							<td>
    									<%= arg['rank'][i].total %>
    							</td>
    						</tr>
    						<% } %>
    				  </tbody>
    			  </table>
    				</div>
          </div>
        </div>
      <% include includes/footer.ejs %>
    </div>
  </body>
      
  <% include includes/script.ejs %>
    
  <script>
  $('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });
  </script>
  
</html>