@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@font-face {
    font-family: "Pacifico";
    src: url('../fonts/Pacifico.ttf');
}

body {
  background: #673AB7;/* fallback for old browsers */
  background: -webkit-linear-gradient(right, #4527A0, #512DA8);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #9b59b6, #512DA8);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----- Login Page ----- */

.login-page {
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
}
.login-page h1 {
  font-family: "Pacifico";
  color: aliceblue;
  font-size: 4em;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 20px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #673AB7;
  width: 100%;
  border: 0;
  padding: 1px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #673AB7;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #673AB7;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

/* ----- !Login Page ----- */

/* ----- Index Page ----- */

.index-page {
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
}
.index-page h1 {
  font-family: "Pacifico";
  color: aliceblue;
  font-size: 4em;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 20px;
}

.mdl-card {
  margin: 10px;
}

.mdl-card__actions button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 1px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.sport button {
  background: #E91E63;
}
.sport button:hover,.sport button:active,.sport button:focus {
  background: #E91E63;
}

.history button {
  background: #FF9800;
}
.history button:hover,.history button:active,.history button:focus {
  background: #FF9800;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}