@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@font-face {
    font-family: "Pacifico";
    src: url('../fonts/Pacifico.ttf');
}

/* ----- General ----- */

body {
  background: -webkit-linear-gradient(to left, #2c3e50, #34495e);
  background: -moz-linear-gradient(to left, #2c3e50, #34495e);
  background: -o-linear-gradient(to left, #2c3e50, #34495e);
  background: linear-gradient(to left, #2c3e50, #34495e);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-color {
  color: #b53a42;
}

#particles {
  width: 100%;
  height: 100%;/*
  overflow: hidden;*/
}
#intro {
    position: absolute;
    left: 0;
    top: 10%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

.user {
      color: #fff;
      padding-right: 17px;
}

.box {
  width:70%;
  background:#ecf0f1;
  margin:0 auto;
  padding-top: 8px;

}

.effect1{
     box-shadow: 0 10px 6px -6px #777;
}

/* ----- Login Page ----- */

.login-page {
  width: 360px;
  padding: 3% 0 0;
  margin: auto;
}
.login-page h1 {
  font-family: "Pacifico";
  color: aliceblue;
  font-size: 4em;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 20px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #b53a42;
  width: 100%;
  border: 0;
  padding: 1px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #b53a42;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #b53a42;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.login-error {
  color: #c0392b;
}

.login-success {
  color: #27ae60;
}
/* ----- !Login Page ----- */

/* ----- Index Page ----- */

.header {
  width: 360px;
  margin: auto;
}
.header h1 {
  font-family: "Pacifico";
  color: aliceblue;
  font-size: 4em;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 20px;
}

.mdl-card {
  margin: 10px;
}

.mdl-card__actions button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 1px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.sport button {
  background: #FF9800;
}
.sport button:hover,.sport button:active,.sport button:focus {
  background: #FF9800;
}

.history button {
  background: #795548;
}
.history button:hover,.history button:active,.history button:focus {
  background: #795548;
}

.geography button {
  background: #2196F3;
}
.geography button:hover,.geography button:active,.geography button:focus {
  background: #2196F3;
}

.science button {
  background: #4CAF50;
}
.science button:hover,.science button:active,.science button:focus {
  background: #4CAF50;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

/* ----- Footer ----- */

#footer {
  color: white;/*
  position:absolute;*/
  bottom:0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* ----- !Footer ----- */

/* ----- Question ----- */

#question {
  background: #fff;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#question h1 {
  padding: 10px;
}
/* ----- !Question ----- */